{% extends 'watermap/header.html' %}
{% block content%}
{% load staticfiles %}


<head>



	<meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'watermap/leaflet/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'watermap/leaflet/markercluster.css' %}">
	  <link rel="stylesheet" href="{% static 'watermap/dc.js-2.0.2/dc.css' %}">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script> 

</head>

<div class ="spacer">
<div class="row">
    <div id="demo1">
    <div class = "leftcolumn">
        <p><strong>Use filters below to update the map and table results</strong></p>
        <p style= "font-size: 75%;">Filter the highest risk pumps by choosing "working" pump status with a "high" or "very high" risk of being currently broken. </p>
        <div class="mapmenu row">
                    <div class ="select_menu col-md-12">Country<br></div>
                    <div class = "pump_status col-md-12">Pump Status<br></div>
                    <div class ="pump_risk col-md-12">Risk Currently Broken<br></div>
                    <div class = "water_tech col-md-12">Water Technology<br></div>
                    <div class ="water_select col-md-12">Water Source<br></div> 
                    <div class ="alt_water col-md-12">Water Points Nearby<br></div>
                    <div class ="mgmt_group col-md-12">Management Group<br></div>
                    

                </div>
    </div>
  <div class="rightcolumn">
    <div class="card">
        <div id="holder">
            <!-- <h2>Map Results</h2> !-->
                <div class="map"></div>
        </div>
    </div>

     <div class = 'card'>
        <h4> Filtered Results </h4>
        <div id ="table" class = "table table-bordered table-responsive table-striped table-sm"></div>
         <div id="paging"> Showing <span id="begin"></span>-<span id="end"></span> of <span id="size"></span>.
            <input id="last" class="btn" type="Button" value="Last" onclick="javascript:last()" />
            <input id="next" class="btn" type="button" value="Next" onclick="javascript:next()"/>
        </div>
        <div class = "download">
            <button class="btn" id="download">download</button>
        </div>

     </div>
                


    </div>
    </div>
    </div>
</div>



<script src="{% static 'watermap/d3/d3.js' %}"></script>
<script src="{% static 'watermap/crossfilter/crossfilter.min.js' %}"></script>
<script src = "{% static 'watermap/dc.js-develop/dc.js' %}"></script>
<script src = "{% static 'watermap/leaflet/leaflet.js' %}"></script>

<!--Optional-->
<script src="{% static 'watermap/leaflet/leaflet.markercluster.js' %}"></script>

<script src="{% static 'watermap/dc-addons-master/dist/leaflet-map/dc-leaflet.js' %}"></script>




<script type="text/javascript" src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.js" ></script>




<script type="text/javascript">

/*     Markers      */

/*d3.tsv("{% static 'watermap/demo1.tsv' %}", function(data) {
  drawMarkerSelect(data);
  console.log(typeof(data[0].geo));
});*/

//These settings are for the spinner
var chartConfig = {
    target : 'demo1',
    data_url : "{% url "map_preds" %}",
    width: 900,
    height: 450,
    val: 90
};
var opts = {
  lines: 9, // The number of lines to draw
  length: 12, // The length of each line
  width: 7, // The line thickness
  radius: 14, // The radius of the inner circle
  color: 'blue', // #rgb or #rrggbb or array of colors
  speed: 1.4, // Rounds per second
  trail: 25, // Afterglow percentage
  top: '40%',
  left: '59%',
  className: 'spinner', // The CSS class to assign to the spinner
};
// Spinner target
var target = document.getElementById(chartConfig.target);
//Spinner intializer
function init() {

    // trigger loader
    var spinner = new Spinner(opts).spin(target);

    // slow the json load intentionally, so we can see it every load
    setTimeout(function() {

        // load json data and trigger callback
        d3.json(chartConfig.data_url, function(data) {

            // stop spin.js loader
            spinner.stop();

            // instantiate chart within callback
            

        });

    }, 1500);
}; 
init();


d3.json("{% url "map_preds" %}", function(data) {

  drawMarkerSelect(data);

});

function drawMarkerSelect(data) {
  var xf = crossfilter(data);
  var groupname = "marker-select";
	var facilities = xf.dimension(
	    function(d) {
	        return [d.lat_deg, d.lon_deg];
	    });
	var facilitiesGroup = facilities.group().reduceCount();



  dc.leafletMarkerChart("#demo1 .map",groupname)
      .dimension(facilities)
      .group(facilitiesGroup)
      .width(600)
	    .height(500)
      .zoom(5)
      .filterByArea(false)
      .fitOnRender(true)
      .renderPopup(true)
      .popup(function(d, marker){
        return d.key + " : " + d.value;
      })
      .cluster(true);

	var status = xf.dimension(function(d) {
      status = d.status_id
	    if (status == "yes"){
        return "Working";
      }
      else if (status == "no"){
        return "Not Working";
      }
      else{
        return "Unknown";
      }
	});
	var statusGroup = status.group().reduceCount();

  dc.selectMenu("#demo1 .pump_status", groupname)
      .dimension(status)
      .group(statusGroup)
      .promptText("Water Point Status")
      
      
  
  var countryDim = xf.dimension(function(d) {return d.country_name})
  var countryGroup = countryDim.group();

  var select_menu= dc.selectMenu("#demo1 .select_menu", groupname)
    .dimension(countryDim)
    .group(countryGroup)
    .promptText("Country")
    


  var watersourceDim = xf.dimension(function(d) {
      if (d.fuzzy_water_source.length < 18) {
          return d['fuzzy_water_source']
      }
      else {
          return d['fuzzy_water_source'].slice(0,18)
      }
  });
  var watersourceGroup = watersourceDim.group();

  var watersourcemenu = dc.selectMenu("#demo1 .water_select", groupname)
    .dimension(watersourceDim)
    .group(watersourceGroup)
    .promptText("Water Source")
    

  var watertechDim = xf.dimension(function(d) {return d['fuzzy_water_tech']});
  var watertechGroup = watertechDim.group();

  var watertechmenu = dc.selectMenu("#demo1 .water_tech", groupname)
    .dimension(watertechDim)
    .group(watertechGroup)
    .promptText("Water Technology")


  var mgmt_groupDim = xf.dimension(function(d) {
    if (d.management.length < 15) {
          return d['management']
      }
      else {
          return d['management'].slice(0,15)
      }
  });
  var mgmt_groupGroup = mgmt_groupDim.group();
  var mgmt_groupMenu = dc.selectMenu("#demo1 .mgmt_group", groupname)
    .dimension(mgmt_groupDim)
    .group(mgmt_groupGroup)
    .promptText("Management")


  var riskDim = xf.dimension(function(d) {
    if (d.probability <=.1 ) {
      return '1. Very Low: <10%';
    } else if (d.probability >.1 && d.probability <=.35) {
      return '2. Low: 10-35%';
    } else if (d.probability >.35 && d.probability <.60){
      return '3. Moderate: 35-60%';
    } else if (d.probability >.60 && d.probability <.85) {
      return '4. High: 60-85%'
    } else  {
      return '5. Very High: >85%';
    }
  });
  var riskGroup = riskDim.group().reduceCount();
  var riskMenu = dc.selectMenu("#demo1 .pump_risk", groupname)
    .dimension(riskDim)
    .group(riskGroup)
    .promptText("Risk Level")


  var alt_waterDim = xf.dimension(function(d){
    altpts = d.one_km_functioning_water_points
    if (altpts < 10) {
      return "1. <10";
    } else if (altpts >= 10 && altpts <=25) {
      return "2. 10-25";
    } else if (altpts>25 && altpts <=50){
      return "3. 26-50";
    } else if (altpts>50 && altpts <=100){
      return "4. 51-100";
    } else {
      return "5. 100+";
    }
  });
  var alt_waterGroup = alt_waterDim.group().reduceCount();
  var alt_waterMenu = dc.selectMenu("#demo1 .alt_water", groupname)
    .dimension(alt_waterDim)
    .group(alt_waterGroup)
    .promptText("Nearby (within 1 km)")

//create impact dimension so table shows in order of highest impact score first
var impactDim = xf.dimension(function(d){
  return d.impact_score
})    

var table = dc.dataTable("#table", groupname)
  .width(800)
  .height(800)
  .dimension(impactDim)
  .group(function (d) {return ""})
    .showGroups(false)
  .size(5)
  .columns([
    {label: "wpdx_id",
    format: function(d) {return d.wpdx_id;}},
    {label: "Country",
    format: function (d) { return d.country_name; }},
    {label: "Pump Status",
    format: function (d) {
        status = d.status_id
	    if (status == "yes"){
            return "Working";
          }
          else if (status == "no"){
            return "Not Working";
          }
          else{
            return "Unknown";
          }
    }},
    {label: "Risk Level",
    format: (function(d) {
    if (d.probability <=.1 ) {
      return 'Very Low: <10%';
    } else if (d.probability >.1 && d.probability <=.35) {
      return 'Low: 10-35%';
    } else if (d.probability >.35 && d.probability <.60){
      return 'Moderate: 35-60%';
    } else if (d.probability >.60 && d.probability <.85) {
      return 'High: 60-85%'
    } else  {
      return 'Very High: >85%';
    }})
    },
    {label: "Water Point Age (years)",
    format: function(d) {
      return d.age_well_years
    }},
    {label: "Time Since Last Measurement (years)",
    format: function(d){
      return d.time_since_meas_years;
    }},
    {label: "Population within 1km",
    format: function (d) {
      return d.one_km_population;
    }},
    {label: "Water Points within 1km",
    format: function (d) {
        altpts = d.one_km_functioning_water_points
        if (altpts < 10) {
          return "<10";
        } else if (altpts >= 10 && altpts <=25) {
          return "10-25";
        } else if (altpts>25 && altpts <=50){
          return "26-50";
        } else if (altpts>50 && altpts <=100){
          return "51-100";
        } else {
          return "100+";
        }
    }},
    {label: "Management Group",
    format: function (d) { return d.management }},
    {label: "Water Source",
    format: function (d) { 
      if (d.fuzzy_water_source = 'no match')
        return d.water_source; 
      else
        return d.fuzzy_water_source}},
    {label: "Water Technology",
    format: function (d) { 
      if (d.fuzzy_water_tech = 'no match')
        return d.water_tech; 
      else
        return d.fuzzy_water_tech}},
    {label: "Latitude",
    format: function (d) { return d.lat_deg; }},
    {label: "Longitude",
    format: function (d) { return d.lon_deg; }},
    {label: "Impact Score",
    format: function (d) {return d3.format(".2f")(d.impact_score);}}
    ])
  .sortBy(function (d) { return d.impact_score})
  .order(d3.descending)

;

  d3.select('#download', groupname)
      .on('click', function() {
          var data = countryDim.top(Infinity);
          
          var blob = new Blob([d3.csv.format(data)], {type: "text/csv;charset=utf-8"});
          saveAs(blob, "data.csv");
      });

 
  


	dc.renderAll(groupname);
  
  var ofs = 0, pag = 5;
  function display() {
      d3.select('#begin')
          .text(ofs);
      d3.select('#end')
          .text(ofs+pag-1);
      d3.select('#last')
          .attr('disabled', ofs-pag<0 ? 'true' : null);
      d3.select('#next')
          .attr('disabled', ofs+pag>=xf.size() ? 'true' : null);
      d3.select('#size').text(xf.size());
  }
  function update() {
      table.beginSlice(ofs);
      table.endSlice(ofs+pag);
      display();
  }
  function next() {
      ofs += pag;
      update();
      table.redraw();
  }
  function last() {
      ofs -= pag;
      update();
      table.redraw();
  };
};






</script>







{% endblock %}