

<!DOCTYPE html>
<html lang="en">

<head>
	<title>Water Point Map</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'watermap/css/bootstrap.css' %}" type = "text/css"/>
    <link rel="stylesheet" href="{% static 'watermap/css/main.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

</head>
<div class="topnav">
	<div class="container">
      <img src="https://dret.net/netdret/docs/itng2011/ischool-logo.png" width="15%">
      <a href="/team" class="top-links">Team</a>
      <a href="/solution" class="top-links">Solution</a>
      <a href="/dashboard" class="top-links">Map</a>
      <a href = "/" class = "top-links"> Home </a>
	</div>
</div>

{% block content %}

{% endblock %}

</body>

<div class="footer">
  <h2>Footer</h2>
</div>

</body>
</html>

{#<style type="text/css">#}
{#* {#}
{#    box-sizing: border-box;#}
{#}#}
{##}
{#body {#}
{#    font-family: Arial;#}
{#    padding: 0px;#}
{#    background: #f1f1f1;#}
{#}#}
{##}
{#/* Header/Blog Title */#}
{#.header {#}
{#    padding: 30px;#}
{#    text-align: center;#}
{#    background: white;#}
{#    background-color: #F1F1F1;#}
{#}#}
{##}
{#.header h1 {#}
{#    font-size: 50px;#}
{#}#}
{##}
{#.intro {#}
{#	padding-top:20px;#}
{#}#}
{##}
{#.top-links {#}
{#	float: right !important;#}
{#}#}
{##}
{#.banner-text-white {#}
{#	padding-top:80px;#}
{#	text-align:center;#}
{#	color:white#}
{#}#}
{#/* Style the top navigation bar */#}
{#.topnav {#}
{#    overflow: hidden;#}
{#    background-color: #333;#}
{#}#}
{##}
{#/* Style the topnav links */#}
{#.topnav a {#}
{#    float: left;#}
{#    display: block;#}
{#    color: #f2f2f2;#}
{#    text-align: center;#}
{#    padding: 20px 16px;#}
{#    text-decoration: none;#}
{#}#}
{##}
{#/* Change color on hover */#}
{#.topnav a:hover {#}
{#    background-color: #ddd;#}
{#    color: black;#}
{#}#}
{##}
{#.topnav .container {#}
{#    padding: 10px 10px 0px 0px;#}
{#}#}
{##}
{#/* Create two unequal columns that floats next to each other */#}
{#/* Left column */#}
{#.leftcolumn {#}
{#    width: 100%;#}
{##}
{#}#}
{##}
{#.bgImg{#}
{#    background-repeat: no-repeat;#}
{#    background-size: cover;#}
{#    height: 250px;#}
{#}#}
{##}
{#/* Right column */#}
{#.rightcolumn {#}
{#    float: left;#}
{#    width: 35%;#}
{#    background-color: #f1f1f1;#}
{#    padding-left: 20px;#}
{#}#}
{##}
{#/* Fake image */#}
{#.fakeimg {#}
{#    background-color: #aaa;#}
{#    width: 100%;#}
{#    padding: 20px;#}
{#}#}
{##}
{#/* Add a card effect for articles */#}
{#.card {#}
{#    background-color: white;#}
{#    padding: 0px;#}
{#    margin-top: 20px;#}
{#    text-align: center;#}
{#}#}
{##}
{#.card .intro, .card .about {#}
{#    padding-left:10%;#}
{#    padding-right:10%;#}
{#}#}
{#/* Clear floats after the columns */#}
{#.row:after {#}
{#    content: "";#}
{#    display: table;#}
{#    clear: both;#}
{#}#}
{##}
{#/* Footer */#}
{#.footer {#}
{#    padding: 20px;#}
{#    text-align: center;#}
{#    background: #ddd;#}
{#    margin-top: 20px;#}
{#}#}
{##}
{#/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */#}
{#@media (max-width: 800px) {#}
{#    .leftcolumn, .rightcolumn {#}
{#        width: 100%;#}
{#        padding: 0;#}
{#    }#}
{#}#}
{##}
{#/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */#}
{#@media (max-width: 400px) {#}
{#    .topnav a {#}
{#        float: none;#}
{#        width: 100%;#}
{#    }#}
{#}#}
{##}
{#</style>#}
