

<!DOCTYPE html>
<html lang="en">

<head>
	<title>Water Point Map</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'watermap/css/bootstrap.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

</head>
<div class="topnav">
	<div class="container">
	<img src="https://dret.net/netdret/docs/itng2011/ischool-logo.png" width="10%">
  <a href = "/" class = "top-links"> Home </a>
  <a href="/solution" class="top-links">Solution</a>
  <a href="/dashboard" class="top-links">Map</a>
  <a href="/team" class="top-links">Team</a>
	</div>
</div>

{% block content %}

{% endblock %}

</body>

<div class="footer">
  <h2>Footer</h2>
</div>

</body>
</html>
