{% extends 'watermap/header.html' %}
{% block content%}
{% load staticfiles %}

<html>
<head>
	<title>DC.js + Leaflet</title>

	<meta itemprop="name" content="DC.js + Leaflet"/>
	<meta itemprop="description" content="DC.js + Leaflet chart"/>

	<meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'watermap/leaflet/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'watermap/leaflet/markercluster.css' %}">
	<link rel="stylesheet" href="{% static 'watermap/dc.js-2.0.2/dc.css' %}">

<style>
    #holder {
        width:100%;
        margin:20px auto;
    }
    #holder {
        padding:30px 0;
        clear:both;
    }
    .map {
        width:60%;
        min-width:400px;
        height:400px;
        margin-top:10px
    }
    .pie {
        margin-left:30px;
    }
    div.dc-chart {
        padding:10px;
    }
</style>
</head>
<body>

<div id="holder">
            <div id="demo1">

                <div class="mapmenu row">
                    <div class ="select_menu col-lg-3 col-sm-12" style="float:none !important"><b>Country<br> </b></div>
                    <div class = "water_select col-lg-6 col-sm-12" style="float:left !important"><b>Pump Type<br> </b></div>
                    <div class ="water_tech col-lg-3 col-sm-12" style="float:none !important"><b>Pump Technology<br> </b></div>
                </div>
                <div class="map"></div>

                <div class="pie"><strong> Pump Status </strong>
                <span class = "reset" style = "display: none;"> Selected: <span class = "filter"></span></span>
                <a class = "reset" href = "javascript:pie.filterAll();dc.redrawAll();" style ="display: none;"> reset </a>

                <div class = "clearfix"></div></div>

            </div>
        </div>



<script src="{% static 'watermap/d3/d3.js' %}"></script>
<script src="{% static 'watermap/crossfilter/crossfilter.min.js' %}"></script>
<script src = "{% static 'watermap/dc.js-develop/dc.js' %}"></script>
<script src = "{% static 'watermap/leaflet/leaflet.js' %}"></script>

<!--Optional-->
<script src="{% static 'watermap/leaflet/leaflet.markercluster.js' %}"></script>

<script src="{% static 'watermap/dc-addons-master/dist/leaflet-map/dc-leaflet.js' %}"></script>
<script type="text/javascript">

/*     Markers      */

/*d3.tsv("{% static 'watermap/demo1.tsv' %}", function(data) {
  drawMarkerSelect(data);
  console.log(typeof(data[0].geo));
});*/

d3.json("{% url "map_data" %}", function(data) {
  drawMarkerSelect(data);
});

function drawMarkerSelect(data) {
  var xf = crossfilter(data);
  var groupname = "marker-select";
	var facilities = xf.dimension(
	    function(d) {
	        return [d.field_lat_deg, d.field_long_deg];
	    });
	var facilitiesGroup = facilities.group().reduceCount();

  dc.leafletMarkerChart("#demo1 .map",groupname)
      .dimension(facilities)
      .group(facilitiesGroup)
      .width(600)
	    .height(400)
      .center([-2.83,36.309])
      .zoom(5)
      .renderPopup(true)
      .popup(function(d, marker){
        return d.key + " : " + d.value;
      })
      .cluster(true);

	var types = xf.dimension(function(d) {
	    return d.field_status_id;
	});
	var typesGroup = types.group().reduceCount();

  dc.pieChart("#demo1 .pie",groupname)
      .dimension(types)
      .group(typesGroup)
      .width(200)
	    .height(200)
	    .renderLabel(true)
	    .renderTitle(true)
      .ordering(function (p) {
        return -p.value;
      });
  var countryDim = xf.dimension(function(d) {return d.field_country_name})
  var countryGroup = countryDim.group();

  var select_menu= dc.selectMenu("#demo1 .select_menu", groupname)
    .dimension(countryDim)
    .group(countryGroup)


  var watersourceDim = xf.dimension(function(d) {return d['field_water_source']});
  var watersourceGroup = watersourceDim.group();

  var watersourcemenu = dc.selectMenu("#demo1 .water_select", groupname)
    .dimension(watersourceDim)
    .group(watersourceGroup)

  var watertechDim = xf.dimension(function(d) {return d['field_water_tech']});
  var watertechGroup = watertechDim.group();

  var watertechmenu = dc.selectMenu("#demo1 .water_tech", groupname)
    .dimension(watertechDim)
    .group(watertechGroup)

	dc.renderAll(groupname);
}


</script>



</body>
</html>


{% endblock %}