{% extends 'watermap/header.html' %}
{% block content%}
{% load staticfiles %}


<head>



	<meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'watermap/leaflet/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'watermap/leaflet/markercluster.css' %}">
	  <link rel="stylesheet" href="{% static 'watermap/dc.js-2.0.2/dc.css' %}">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script> 

<style>
    #holder {
        width:100%;
        margin:20px auto;
    }
    #holder {
        padding:30px 0;
        clear:both;
    }
    .map {
        width:60%;
        min-width:400px;
        height:400px;
        margin-top:10px
    }
    .pie {
        margin-left:30px;
    }
    div.dc-chart {
        padding:10px;
    }
</style>
</head>


<div id="holder">
            <div id="demo1">

                <div class="mapmenu row">
                    <div class ="select_menu col-lg-3 col-sm-12" style="float:none !important"><b>Country<br> </b></div>
                    <div class = "water_select col-lg-6 col-sm-12" style="float:left !important"><b>Pump Type<br> </b></div>
                    <div class ="water_tech col-lg-3 col-sm-12" style="float:none !important"><b>Pump Technology<br> </b></div>
                </div>
                <div class="map"></div>

                <div class="pie"><strong> Pump Status </strong>
                <span class = "reset" style = "display: none;"> Selected: <span class = "filter"></span></span>
                <a class = "reset" href = "javascript:pie.filterAll();dc.redrawAll();" style ="display: none;"> reset </a>

                <div class = "clearfix"></div></div>

                <div id ="table"><strong>Under here is a data table</strong></div>
                <div style="float: left">
                  <button class="btn" id="download">download</button>
                </div>
                </div>
            </div>
        </div>



<script src="{% static 'watermap/d3/d3.js' %}"></script>
<script src="{% static 'watermap/crossfilter/crossfilter.min.js' %}"></script>
<script src = "{% static 'watermap/dc.js-develop/dc.js' %}"></script>
<script src = "{% static 'watermap/leaflet/leaflet.js' %}"></script>

<!--Optional-->
<script src="{% static 'watermap/leaflet/leaflet.markercluster.js' %}"></script>

<script src="{% static 'watermap/dc-addons-master/dist/leaflet-map/dc-leaflet.js' %}"></script>




<script type="text/javascript" src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.js" ></script>




<script type="text/javascript">

/*     Markers      */

/*d3.tsv("{% static 'watermap/demo1.tsv' %}", function(data) {
  drawMarkerSelect(data);
  console.log(typeof(data[0].geo));
});*/

//These settings are for the spinner
var chartConfig = {
    target : 'demo1',
    data_url : "{% url "map_data" %}",
    width: 900,
    height: 450,
    val: 90
};
var opts = {
  lines: 9, // The number of lines to draw
  length: 12, // The length of each line
  width: 7, // The line thickness
  radius: 14, // The radius of the inner circle
  color: 'blue', // #rgb or #rrggbb or array of colors
  speed: 1.4, // Rounds per second
  trail: 25, // Afterglow percentage
  top: '70%',
  className: 'spinner', // The CSS class to assign to the spinner
};
// Spinner target
var target = document.getElementById(chartConfig.target);
//Spinner intializer
function init() {

    // trigger loader
    var spinner = new Spinner(opts).spin(target);

    // slow the json load intentionally, so we can see it every load
    setTimeout(function() {

        // load json data and trigger callback
        d3.json(chartConfig.data_url, function(data) {

            // stop spin.js loader
            spinner.stop();

            // instantiate chart within callback
            

        });

    }, 1500);
} 
init();


d3.json("{% url "map_data" %}", function(data) {

  drawMarkerSelect(data);

});

function drawMarkerSelect(data) {
  var xf = crossfilter(data);
  var groupname = "marker-select";
	var facilities = xf.dimension(
	    function(d) {
	        return [d.field_lat_deg, d.field_long_deg];
	    });
	var facilitiesGroup = facilities.group().reduceCount();



  dc.leafletMarkerChart("#demo1 .map",groupname)
      .dimension(facilities)
      .group(facilitiesGroup)
      .width(600)
	    .height(400)
      .zoom(5)
      .filterByArea(false)
      .fitOnRender(true)
      .renderPopup(true)
      .popup(function(d, marker){
        return d.key + " : " + d.value;
      })
      .cluster(true);

	var status = xf.dimension(function(d) {
	    return d.field_status_id;
	});
	var statusGroup = status.group().reduceCount();

  dc.pieChart("#demo1 .pie", groupname)
      .dimension(status)
      .group(statusGroup)
      .width(200)
	    .height(200)
	    .renderLabel(true)
	    .renderTitle(true)
      .ordering(function (p) {
        return -p.value;
      });
  
  var countryDim = xf.dimension(function(d) {return d.field_country_name})
  var countryGroup = countryDim.group();

  var select_menu= dc.selectMenu("#demo1 .select_menu", groupname)
    .dimension(countryDim)
    .group(countryGroup)


  var watersourceDim = xf.dimension(function(d) {return d['field_water_source']});
  var watersourceGroup = watersourceDim.group();

  var watersourcemenu = dc.selectMenu("#demo1 .water_select", groupname)
    .dimension(watersourceDim)
    .group(watersourceGroup)

  var watertechDim = xf.dimension(function(d) {return d['field_water_tech']});
  var watertechGroup = watertechDim.group();

  var watertechmenu = dc.selectMenu("#demo1 .water_tech", groupname)
    .dimension(watertechDim)
    .group(watertechGroup)

dc.dataTable("#table", groupname)
  .width(800)
  .height(800)
  .dimension(countryDim)
  .group(function (d) {return "List of Water Sources"})
  .size(10)
  .columns([
    function (d) { return d.field_country_name; },
    function (d) { return d.field_status_id; },
    function (d) { return d.field_water_tech; },
    function (d) { return d.field_water_source; },
    function (d) { return d.field_lat_deg; },
    function (d) { return d.field_long_deg; }
    ])
  .sortBy(function (d) { return d.field_status_id; })
  .order(d3.ascending);

  d3.select('#download', groupname)
      .on('click', function() {
          var data = countryDim.top(Infinity);
          
          var blob = new Blob([d3.csv.format(data)], {type: "text/csv;charset=utf-8"});
          saveAs(blob, "data.csv");
      });





	dc.renderAll(groupname);
};




</script>







{% endblock %}