{% extends 'watermap/header.html' %}
{% block content%}
{% load staticfiles %}


<div class ="spacer">
<div class="row">
  <div class="centercolumn">
    <div class="card">
        <div class="bgImg" style="background-image: url('https://ansam518.files.wordpress.com/2009/11/banner_for_the_wbw_page_resized-crop_display.jpg');">
		    <h1 class="banner-text-white">Improving Access to Water in Developing Nations</h1></div>
      	    <div class="intro">
		        <h2>The most water for the most people</h2>
                <p>Around the world, nearly 25% of communal water access points are non-functional.
		        This challenge has been difficult to address at a global, national, or even local level due to a severe scarcity of data.
		        Consequently, the Water Point Data Exchange (WPDx) has created a harmonized data exchange standard for water point data
		        and supported the development of a global repository.</p>
			    <p>We aim to use the WPDx data to create a web-based portal that will help governments manage water access in their countries.</p>
            </div>
        </div>
    </div>
    <div class="card">
      <div class="about">
          <h2>About the project:</h2>
          <p>Our goal is to create four tools that will enable governments to make evidence-based decisions at the click of a button.</p>
          <p><img src="http://127.0.0.1:8000/static/watermap/img/profile.jpg" height="200px">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-kntS_24JHbiM_j9p4jv-QCdDD83UPi0RAJoMBF3ZbcaNDt-sLA" height="200px"></p>
          <p>Collectively, the tools should give government officials a comprehensive view of water access across their respective countries, thereby empowering them to efficiently allocate resources towards areas of greatest need.</p>
	  </div>
    </div>
  </div>
{#  <div class="rightcolumn">#}
{#    <div class="card">#}
{#      <h2>About the project:</h2>#}
{#		<p>Our goal is to create four tools that will enable governments to make evidence-based decisions at the click of a button.</p>#}
{#		<p><img src="http://127.0.0.1:8000/static/watermap/img/profile.jpg" width="300px"></p>#}
{#    </div>#}
{#    <div class="card">#}
{#		<p>Collectively, the tools should give government officials a comprehensive view of water access across their respective countries, thereby empowering them to efficiently allocate resources towards areas of greatest need.</p>#}
{#		<p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYVT4fV7b8YWsvNgl9bx_5bsDg9XE6zlaGKdGMKnbANZCfoSz9"></p>#}
{#    </div>#}
{#    <div class="card">#}
{#    </div>#}
{#  </div>#}
</div>
</div>
{% endblock %}

