{% extends 'watermap/header.html' %}
{% block content%}
{% load staticfiles %}


<script>
    $("#cnav").affix({
        offset: {
            top: 195
     	}
    });

</script>

<style>
body {
  position: relative;
}
.affix {
    padding-top: 100px; /* Final position of nav */
    margin-top:-25%;
}
.content {
    text-align: left;
}
#cnav {
    padding-left:5px;
    display: block;
    top:400px;
    position: fixed;
    text-align: left;
}
#cnav li.active a {
    color: orange;
}
.ctable {
    font-size:12px;
}
.ctable th, .ctable td {
    padding: 5px;
}
.ctable li {
    list-style: square inside;
}
.section {
    padding-top:150px;
    margin-top:-70px;
    border-bottom: 1px solid lightgrey;
}
.section.last{
    border-bottom: none;
}
.section .cimage {
    border: 1px solid grey;
    margin: 10px 0px 10px;
    padding: 10px;
    background-color: white;
}
.section .ctable {
    padding: 10px;
    margin: 0px;
}
div.cnavparent ul li {
    display: block;
	padding: 5px
}

</style>

<div class ="container">
  <div class="card">

    <div class="bgImg" style="background-image: url('/static/watermap/img/banner.jpg');">
	    <h1 class="banner-text-white">Our Methodology</h1>
    </div>
    <div class="row">
        <div class="col-md-2 scrollspy cnavparent">
            <ul id="cnav" class="nav" data-spy="affix" data-offset-top="200" role="tablist">
                <h4>Countries</h4>
                <li><a href="#afghanistan">Afghanistan</a></li>
                <li><a href="#india">India</a></li>
                <li><a href="#kenya">Kenya</a></li>
                <li><a href="#liberia">Liberia</a></li>
                <li><a href="#malawi">Malawi</a></li>
                <li><a href="#sierraleone">Sierra Leone</a></li>
                <li><a href="#southsudan">South Sudan</a></li>
                <li><a href="#swaziland">Swaziland</a></li>
                <li><a href="#uganda">Uganda</a></li>
                <li><a href="#zimbabwe">Zimbabwe</a></li>
            </ul><!-- end of main navigation -->
        </div> <!-- end col-md-2 scrollspy -->

        <div class="col-md-10 content">
            <div style="padding-top:40px;">
                <h1>Methodology</h1>
                <p>The WaterPoint Data Exchange collected data on ~400k waterpoints in Africa, Asia and South America, and recorded which were working and which ones were not.</p>
                <p>Our team used this data to help countries prioritize waterpoints to repair. We appended a number of columns to the dataset,
                  including: the number of people within 1 km, the total number of other waterpoints within 1 km, the number of other functioning waterpoints within 1 km, and the district and sub-district in which the waterpoint is located.
                  This helps identify waterpoints that were broken when the data was collected, but how do we know which new waterpoints may be broken today?</p>
                <p>Our team used machine learning algorithms (specifically, eXtreme Gradient Boosted Trees) to predict which waterpoints that were working a few years ago are probably not working today. </p>
                <p>Using data from ~ 200,000 water points across all 10 countries with the most data, our  models learned the characteristics of functioning and nonfunctioning waterpoints. We then used those learned patterns to make predictions on another 70,000 waterpoints, to see how often we were right. We were right about 85% of the time, sometimes more or less, depending on the country.</p>
                <p>We set aside an extra 70,000 waterpoints that we never let our models see, and just made predictions on the status of those water points, to see if we could accurately predict “unseen” data. We were still correct about 85% of the time.</p>
                <p>At this point, we had built models that were very good at predicting a failure at the last time it was measured.
                  However, we wanted to predict if a waterpoint was broken today, and one year from now.
                  To do so, we adjusted the age of each waterpoint in the data set, and then made new predictions.
                  For example, if a well was 20 years old when it was measured two years ago, we adjusted the age of the well to be 22 years old to make a prediction for today, and 23 years old for a prediction one year from now.</p>
                <p>To make things easy to prioritize, we’ve added a risk score for every waterpoint. A high risk score means it is known to be or very likely not-functioning, and also serves a large population of people within 1 km. You can filter by risk score for your country and download an Excel file with location information per well.</p>
            </div>

            <!-- Afghanistan -->
            <section id="afghanistan" class="section">
                <h2>Afghanistan</h2>
                <p>There are 59,849 measurements in Afghanistan covering 58,118 unique water points.
                 These measurements were taken between Jan 1 2003 and Dec 31 2013.
                 As of the last measurement, 29.7 % of waterpoints were not functioning or had a status of ‘unknown’.
                 Today, we predict the number of non-functioning waterpoints to have grown to 60%.
                 In one year, we predict this number to grow to 63.7%.
                 A prediction threshold of 0.237 was used to predict a non-functioning waterpoint.
                 For all countries, we opted to maximize recall (finding all the bad waterpoints) while targeting 50% precision,so that for every 1 of 2 wells investigated was actually not working.
                 We were able to achieve 52% precision while maintaining 81% recall of non-functioning waterpoints.</p>
                <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/table_Afghanistan_normalized.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/table_Afghanistan_by_count.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/feature_Afghanistan.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <div class="table table-responsive ctable">
                          <table class="table table-bordered table-hover">
                              <tr><th colspan = "4" style="text-align: center;">AUC Table</th></tr>
                              <tr><th></th><th>Sample size (# waterpoints)</th><th>AUC</th><th>Accuracy</th></tr>
                              <tr><th>Train</th><td>35,909</td><td>0.932</td><td>0.863</td></tr>
                              <tr><th>Test</th><td>11,970</td><td>0.848</td><td>0.800</td></tr>
                              <tr><th>Holdout</th><td>11970</td><td>0.845</td><td>0.801</td></tr>
                              <tr><th>Full Sample 5 fold nested Cross-Validation</th><td>59,849</td><td>0.852 mean  0.004 std</td><td>N/A</td></tr>
                          </table>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/distrpob_Afghanistan.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <div class="table table-responsive ctable">
                          <h3>Distribution of probabilties on holdout data</h3>
                          <ul>
                              <li>Threshold used for Today and 1 year out predictions = 0.237</li>
                              <li>Precision  = 0.52 (when we predict a bad well, how often it’s actually bad)</li>
                              <li>Recall = 0.81 ( of all the bad wells, how often we actually identify them)</li>
                          </ul>
                      </div>
                  </div>
                </div>
            </section>

            <!-- India -->
            <section id="india" class="section">
                <h2>India</h2>
                <p>There are 5,887 measurements in India covering 5,850 unique water points.
                 The vast majority of these measurements were taken between March 20 2015 and October 3 2016.
                 As of the last measurement, 2.7 % of waterpoints were not functioning or had a status of ‘unknown’.
                 Today, we predict the number of non-functioning waterpoints to have grown to 20%.
                 In one year, we predict this number to grow to 75%. This is obviously extreme.  India is our worst performing model, in part due to the
                 small sample size, as well as the geographic restrictions (only from a handful of districts). Further, there is no data on the water source, it's completely missing.  Thus, this model is largely dependent on water tech data and well age, which is measured over a short window.
                 This poor performance is evident on the probability distribution plot where there is little separation between functioning and non-functioning waterpoint predictions.
                  To improve forecasting of waterpoint access in India, efforts to increase data collection would be very helpful.

</p>
                <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/table_India_normalized.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/table_India_by_count.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/distrpob_India.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <div class="table table-responsive ctable">
                          <h3>Distribution of probabilties on holdout data</h3>
                          <ul>
                              <li>Threshold used for Today and 1 year out predictions = 0.052632</li>
                              <li>Precision  = 0.07 (when we predict a bad well, how often it’s actually bad)</li>
                              <li>Recall = 0.47 ( of all the bad wells, how often we actually identify them)</li>
                          </ul>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/feature_India.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <div class="table table-responsive ctable">
                        <table class="table table-bordered table-hover">
                            <tr><th colspan = "4" style="text-align: center;">AUC Table</th></tr>
                            <tr><th></th><th>Sample size (# waterpoints)</th><th>AUC</th><th>Accuracy</th></tr>
                            <tr><th>Train</th><td>3,532</td><td>0.806</td><td>0.973</td></tr>
                            <tr><th>Test</th><td>1,177</td><td>0.685</td><td>0.973</td></tr>
                            <tr><th>Holdout</th><td>1,178</td><td>0.707</td><td>0.973</td></tr>
                            <tr><th>Full Sample 5 fold nested Cross-Validation</th><td>5,887</td><td>0.684 mean  0.026 std</td><td>N/A</td></tr>
                        </table>
                      </div>
                  </div>
                </div>
            </section>


            <!-- Kenya -->
            <section id="kenya" class="section">
              <h2>Kenya</h2>
              <p>There are 21,108 measurements in Kenya covering 20,627 unique water points.
                 These measurements were taken between Jan 1 2013 and Dec 31 2013.
                 As of the last measurement, 13.67% of waterpoints were not functioning or had a status of ‘unknown’.
                 Today, we predict the number of non-functioning waterpoints to grow to 22%.
                 In one year, we predict this number to grow to 25.8%.
                 A prediction threshold of 0.25 was used to predict a non-functionging waterpoint.
                 For all countries, we opted to maximize recall (finding all the bad waterpoints) while targeting 50% precision,so that for every 1 of 2 wells investigated was actually not working. We could not achieve those levels with the Kenya model,
                however were close, at 42% precision.
              It is worth noting that 78% of wells did not have dates for "Install Year", so the age of the well and lifespan was more challenging to predict.  Improved data collection on well age will help future modeling efforts.
            Further, when the water sourcew as recorded as "missing", it was highly predictive of not working.  Finally, there is a strong importance to location. You can see on the map that waterpoints in north west and central kenya have clusters of non-functioning waterpoints, compared to the east and the south.</p>
              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/table_Kenya_normalized.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/table_Kenya_by_count.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/distrpob_Kenya.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <div class="table table-responsive ctable">
                          <h3>Distribution of probabilties on holdout data</h3>
                          <ul>
                              <li>Threshold used for Today and 1 year out predictions = 0.25</li>
                              <li>Precision  = 0.42 (when we predict a bad well, how often it’s actually bad)</li>
                              <li>Recall = 0.54 ( of all the bad wells, how often we actually identify them)</li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/feature_Kenya.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <div class="table table-responsive ctable">
                          <table class="table table-bordered table-hover">
                            <tr><th colspan = "4" style="text-align: center;">AUC Table</th></tr>
                            <tr><th></th><th>Sample size (# waterpoints)</th><th>AUC</th><th>Accuracy</th></tr>
                            <tr><th>Train</th><td>12,664</td><td>0.939</td><td>0.909</td></tr>
                            <tr><th>Test</th><td>4,222</td><td>0.837</td><td>0.874</td></tr>
                            <tr><th>Holdout</th><td>4,222</td><td>0.833</td><td>0.876</td></tr>
                            <tr><th>Full Sample 5 fold nested Cross-Validation</th><td>21,108</td><td>0.843 mean  0.010 std</td><td>N/A</td></tr>
                          </table>
                      </div>
                  </div>
              </div>
            </section>

            <!-- Liberia -->
            <section id="liberia" class="section">
              <h2>Liberia</h2>
              <p>There are 14,028 measurements in Liberia covering 13,498 unique water points.
                 The vast majority of these measurements were taken between Jan 1 2010 and Dec 31 2016.
                 As of the last measurement, 25.7 % of waterpoints were not functioning or had a status of ‘unknown’.
                 Today, we predict the number of non-functioning waterpoints to have grown to 50%.
                 In one year, we predict this number to grow to 56%.
                 A prediction threshold of 0.237 was used to predict a non-functioning waterpoint.
                 For all countries, we opted to maximize recall (finding all the bad waterpoints) while targeting 50% precision,so that for every 1 of 2 wells investigated, one was actually not working.
                 We were able to achieve this with the Liberia model, with 50% precision and 69% recall.
                Interestingly, "adm1", or who was administering the waterpoint, was the most predictive feature in Liberia.</p>
              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/table_Liberia_normalized.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/table_Liberia_by_count.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/distrpob_Liberia.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>

                  <div class="col-md-6">
                      <div class="table table-responsive ctable">
                          <table class="table table-bordered table-hover">
                            <tr><th colspan = "4" style="text-align: center;">AUC Table</th></tr>
                            <tr><th></th><th>Sample size (# waterpoints)</th><th>AUC</th><th>Accuracy</th></tr>
                            <tr><th>Train</th><td>8,416</td><td>0.894</td><td>0.850</td></tr>
                            <tr><th>Test</th><td>2,806</td><td>0.817</td><td>0.824</td></tr>
                            <tr><th>Holdout</th><td>2,806</td><td>0.809</td><td>0.811</td></tr>
                            <tr><th>Full Sample 5 fold nested Cross-Validation</th><td>14,208</td><td>0.820 mean  0.007 std</td><td>N/A</td></tr>
                          </table>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/feature_Liberia.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <div class="table table-responsive ctable">
                          <h3>Distribution of probabilties on holdout data</h3>
                          <ul>
                              <li>Threshold used for Today and 1 year out predictions = 0.237</li>
                              <li>Precision  = 0.50(when we predict a bad well, how often it’s actually bad)</li>
                              <li>Recall = 0.69 ( of all the bad wells, how often we actually identify them)</li>
                          </ul>
                      </div>
                  </div>
              </div>
            </section>

            <!-- Malawi -->
            <section id="malawi" class="section">
              <h2>Malawi</h2>
              <p>There are 12,191 measurements in Malawi covering 11,797 unique water points.
                 The vast majority of these measurements were taken between April 5 1984 and Jun 27 2017.
                 As of the last measurement, 24.9 % of waterpoints were not functioning or had a status of ‘unknown’.
                 Today, we predict the number of non-functioning waterpoints to have grown to 41.3%.
                 In one year, we predict this number to grow to 45.6%.
                 A prediction threshold of 0.237 was used to predict a non-functioning waterpoint.
                 For all countries, we opted to maximize recall (finding all the bad waterpoints) while targeting 50% precision,so that for every 1 of 2 waterpoints investigated, one was actually not working.
                 We were able to achieve this with the Malawi model, with 53% precision and 78% recall.
               Note - Malawi also had a large amount of missing values for "Install Year" at 55%, so improved data collection will likely improve future model performance, as this value informs our estimate for the age of a well.
              It is also interesting that latitude and longitude were the most predictive features for Malawi.  Looking on the map, we can see large concentrations of bad wells west of the Mulanje
            Mountain Forest Reserve, along road S152, and along road S136 between the Majete Wildlife Preserve and Lengwe National Park. </p>
              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/table_Malawi_normalized.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/table_Malawi_by_count.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/distrpob_Malawi.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <div class="table table-responsive ctable">
                          <h3>Distribution of probabilties on holdout data</h3>
                          <ul>
                              <li>Threshold used for Today and 1 year out predictions = 0.237</li>
                              <li>Precision  = 0.53 (when we predict a bad well, how often it’s actually bad)</li>
                              <li>Recall = 0.78 ( of all the bad wells, how often we actually identify them)</li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/feature_Malawi.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <div class="table table-responsive ctable">
                          <table class="table table-bordered table-hover">
                            <tr><th colspan = "4" style="text-align: center;">AUC Table</th></tr>
                            <tr><th></th><th>Sample size (# waterpoints)</th><th>AUC</th><th>Accuracy</th></tr>
                            <tr><th>Train</th><td>7,314</td><td>0.914</td><td>0.866</td></tr>
                            <tr><th>Test</th><td>2,438</td><td>0.845</td><td>0.819</td></tr>
                            <tr><th>Holdout</th><td>2,439</td><td>0.849</td><td>0.832</td></tr>
                            <tr><th>Full Sample 5 fold nested Cross-Validation</th><td>12,191</td><td>0.847 mean  0.007 std</td><td>N/A</td></tr>
                          </table>
                      </div>
                  </div>
              </div>
            </section>

            <!-- Sierra Leone -->
            <section id="sierraleone" class="section">
              <h2>Sierra Leone</h2>
              <p>There are 54,864 measurements in Sierra Leone covering 53,403 unique water points.
                 The vast majority of these measurements were taken between Jan 3 2012 and Dec 09 2016.
                 As of the last measurement, 22.6 % of waterpoints were not functioning or had a status of ‘unknown’.
                 Today, we predict the number of non-functioning waterpoints to have grown to 35.1.
                 In one year, we predict this number to grow to 36.7%.
                 A prediction threshold of 0.289474 was used to predict a non-functioning waterpoint.
                 For all countries, we opted to maximize recall (finding all the bad waterpoints) while targeting 50% precision,so that for every 1 of 2 waterpoints investigated, one was actually not working.
                 We were able to achieve this with the Sierra Leone model, with 53% precision and 64% recall.
               Note- the "Pay" feature could not be used in Sierra Leone as "No water" was a common value and "gave away" the answer (e.g. target leakage).
                Instead, we were able to use "Installer" sucecssfully as an alternative feature to "Pay".</p>
              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/table_Sierra_Leone_normalized.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/table_Sierra_Leone_by_count.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/distrpob_Sierra_Leone.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <div class="table table-responsive ctable">
                          <h3>Distribution of probabilties on holdout data</h3>
                          <ul>
                              <li>Threshold used for Today and 1 year out predictions = 0.289474</li>
                              <li>Precision  = 0.53 (when we predict a bad well, how often it’s actually bad)</li>
                              <li>Recall = 0.64 ( of all the bad wells, how often we actually identify them)</li>
                          </ul>
                      </div>
                </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/feature_Sierra_Leone.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <div class="table table-responsive ctable">
                          <table class="table table-bordered table-hover">
                            <tr><th colspan = "4" style="text-align: center;">AUC Table</th></tr>
                            <tr><th></th><th>Sample size (# waterpoints)</th><th>AUC</th><th>Accuracy</th></tr>
                            <tr><th>Train</th><td>32,918</td><td>0.952</td><td>0.893</td></tr>
                            <tr><th>Test</th><td>10,973</td><td>0.839</td><td>0.834</td></tr>
                            <tr><th>Holdout</th><td>10,973</td><td>0.832</td><td>0.828</td></tr>
                            <tr><th>Full Sample 5 fold nested Cross-Validation</th><td>54,864</td><td>0.840 mean  0.005 std</td><td>N/A</td></tr>
                          </table>
                      </div>
                  </div>
              </div>
            </section>


            <!-- South Sudan -->
            <section id="southsudan" class="section">
              <h2>South Sudan</h2>
              <p>There are 6,088 measurements in South Sudan covering 5,874 unique water points.
                 These measurements were taken between May 27 1973 and Dec 05 2016.
                 As of the last measurement, 21 % of waterpoints were not functioning or had a status of ‘unknown’.
                 Today, we predict the number of non-functioning waterpoints to have grown to 29.9%.
                 In one year, we predict this number to grow to 30.2%.
                 A prediction threshold of 0.34 was used to predict a non-functioning waterpoint.
                 For all countries, we opted to maximize recall (finding all the bad waterpoints) while targeting 50% precision,so that for every 1 of 2 waterpoints investigated, one was actually not working.
                 We were able to achieve this with the South Sudan model, with 53% precision and 52% recall.
               Note - South Sudan, like Kenya and Malawi, had extremely high missing values for "install year", and thus, the age of a waterpoint.
               However, the "Time Since Measurement" served as a proxy for well age in the absence of "Install Year." Still, a decent model was built purely on the technology and source of a waterpoint and the time since measurement.
             Improved data collection on the install year of the waterpoint, as well as more data on waterpoints in general, will likely improve model performance in the future.</p>
              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/table_South_Sudan_normalized.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/table_South_Sudan_by_count.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/distrpob_South_Sudan.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <div class="table table-responsive ctable">
                          <h3>Distribution of probabilties on holdout data</h3>
                          <ul>
                              <li>Threshold used for Today and 1 year out predictions = 0.34</li>
                              <li>Precision  = 0.53 (when we predict a bad well, how often it’s actually bad)</li>
                              <li>Recall = 0.52 ( of all the bad wells, how often we actually identify them)</li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/feature_South_Sudan.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <div class="table table-responsive ctable">
                          <table class="table table-bordered table-hover">
                              <tr><th colspan = "4" style="text-align: center;">AUC Table</th></tr>
                              <tr><th></th><th>Sample size (# waterpoints)</th><th>AUC</th><th>Accuracy</th></tr>
                              <tr><th>Train</th><td>3,652</td><td>0.868</td><td>0.837</td></tr>
                              <tr><th>Test</th><td>1,218</td><td>0.758</td><td>0.801</td></tr>
                              <tr><th>Holdout</th><td>1,218</td><td>0.805</td><td>0.817</td></tr>
                              <tr><th>Full Sample 5 fold nested Cross-Validation</th><td>6,088</td><td>0.787 mean  0.008 std</td><td>N/A</td></tr>
                          </table>
                      </div>
                  </div>
              </div>
            </section>


            <!-- Swaziland -->
            <section id="swaziland" class="section">
              <h2>Swaziland</h2>
              <p>There are 23,784 measurements in Swaziland covering 23,784 unique water points.
                 The vast majority of these measurements were taken between Nov 26 2013 and July 24 2015.
                 As of the last measurement,  16% of waterpoints were not functioning or had a status of ‘unknown’.
                 Today, we predict the number of non-functioning waterpoints to have grown to 17.7%.
                 In one year, we predict this number to grow to 18.2%.
                 A prediction threshold of 0.21056 was used to predict a non-functioning waterpoint.
                 For all countries, we opted to maximize recall (finding all the bad waterpoints) while targeting 50% precision,so that for every 1 of 2 waterpoints investigated, one was actually not working.
                 We were able to achieve this with the Swaziland model, with 91% precision and 96% recall.
               Swaziland is our best performing model, and this is likely due to government sponsored and organized data collection (potentially more standardized), as well as nearly no missing values, except for the management field, which generally wasn't very predictive across countries.
             The quality of Swaziland's data is further reflected in their consistency in labeling of data, with much fewer categories of water tech and water source compared to other countries. This consistency also likely drove higher model performance.
           Swaziland's data collection is worth investigating further to see if any best practices can be shared across other nations to produce such reliable results.
         Note - no evidence of target leakage was found in the data set.  We believe the high AUC values to be accurate.</p>
              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/table_Swaziland_normalized.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/table_Swaziland_by_count.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/distrpob_Swaziland.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <div class="table table-responsive ctable">
                          <h3>Distribution of probabilties on holdout data</h3>
                          <ul>
                              <li>Threshold used for Today and 1 year out predictions = 0.21056</li>
                              <li>Precision  = 0.91 (when we predict a bad well, how often it’s actually bad)</li>
                              <li>Recall = 0.96 ( of all the bad wells, how often we actually identify them)</li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/feature_Swaziland.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <div class="table table-responsive ctable">
                        <table class="table table-bordered table-hover">
                            <tr><th colspan = "4" style="text-align: center;">AUC Table</th></tr>
                            <tr><th></th><th>Sample size (# waterpoints)</th><th>AUC</th><th>Accuracy</th></tr>
                            <tr><th>Train</th><td>14,270</td><td>0.99</td><td>0.99</td></tr>
                            <tr><th>Test</th><td>4,757</td><td>0.996</td><td>0.980</td></tr>
                            <tr><th>Holdout</th><td>4,757</td><td>0.997</td><td>0.982</td></tr>
                            <tr><th>Full Sample 5 fold nested Cross-Validation</th><td>23,784</td><td>0.997 mean  0.001 std</td><td>N/A</td></tr>
                        </table>
                      </div>
                  </div>
              </div>
            </section>


            <!-- Uganda -->
            <section id="uganda" class="section">
              <h2>Uganda</h2>
              <p>There are 113,558 measurements in Uganda covering 110,102 unique water points.
                 The vast majority of these measurements were taken between Dec 1 1991 and August 20 2016.
                 As of the last measurement,  21.9% of waterpoints were not functioning or had a status of ‘unknown’.
                 Today, we predict the number of non-functioning waterpoints to have grown to 38.7%.
                 In one year, we predict this number to grow to 43.1.
                 A prediction threshold of 0.236842 was used to predict a non-functioning waterpoint.
                 For all countries, we opted to maximize recall (finding all the bad waterpoints) while targeting 50% precision,so that for every 1 of 2 waterpoints investigated, one was actually not working.
                 We were able to achieve this with the Uganda model, with 51% precision and 72% recall.
               Note- "Water Source" was missing 84% of the time in this data set. </p>
              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/table_Uganda_normalized.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/table_Uganda_by_count.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/distrpob_Uganda.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <div class="table table-responsive ctable">
                          <h3>Distribution of probabilties on holdout data</h3>
                          <ul>
                              <li>Threshold used for Today and 1 year out predictions = 0.236842</li>
                              <li>Precision  = 0.51 (when we predict a bad well, how often it’s actually bad)</li>
                              <li>Recall = 0.72 ( of all the bad wells, how often we actually identify them)</li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/feature_Uganda.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <div class="table table-responsive ctable">
                        <table class="table table-bordered table-hover">
                            <tr><th colspan = "4" style="text-align: center;">AUC Table</th></tr>
                            <tr><th></th><th>Sample size (# waterpoints)</th><th>AUC</th><th>Accuracy</th></tr>
                            <tr><th>Train</th><td>68,132</td><td>0.924</td><td>0.876</td></tr>
                            <tr><th>Test</th><td>22,711</td><td>0.843</td><td>0.845</td></tr>
                            <tr><th>Holdout</th><td>22,711</td><td>0.851</td><td>0.846</td></tr>
                            <tr><th>Full Sample 5 fold nested Cross-Validation</th><td>113,558</td><td>0.850 mean  0.002 std</td><td>N/A</td></tr>
                        </table>
                      </div>
                  </div>
              </div>
            </section>

            <!-- Zimbabwe -->
            <section id="zimbabwe" class="section last">
              <h2>Zimbabwe</h2>
              <p>There are 38,734 measurements in Zimbabwe covering 38,083 unique water points.
                 The vast majority of these measurements were taken between June 19 2012 and July 07 2017.
                 As of the last measurement,  39.1% of waterpoints were not functioning or had a status of ‘unknown’.
                 Today, we predict the number of non-functioning waterpoints to have grown to 61.4%.
                 In one year, we predict this number to grow to 68.2.
                 A prediction threshold of 0.25 was used to predict a non-functioning waterpoint.
                 For all countries, we opted to maximize recall (finding all the bad waterpoints) while targeting 50% precision,so that for every 1 of 2 waterpoints investigated, one was actually not working.
                 We were able to achieve this with the Zimbabwe model, with 57% precision and 83% recall.</p>
              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/table_Zimbabwe_normalized.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/table_Zimbabwe_by_count.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/distrpob_Zimbabwe.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <div class="table table-responsive ctable">
                          <h3>Distribution of probabilties on holdout data</h3>
                          <ul>
                              <li>Threshold used for Today and 1 year out predictions = 0.25</li>
                              <li>Precision  = 0.57 (when we predict a bad well, how often it’s actually bad)</li>
                              <li>Recall = 0.83 ( of all the bad wells, how often we actually identify them)</li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <img src="/static/watermap/img/solution/feature_Zimbabwe.png"  width="100%" height="100%" class="cimage img-fluid">
                  </div>
                  <div class="col-md-6">
                      <div class="table table-responsive ctable">
                          <table class="table table-bordered table-hover">
                              <tr><th colspan = "4" style="text-align: center;">AUC Table</th></tr>
                              <tr><th></th><th>Sample size (# waterpoints)</th><th>AUC</th><th>Accuracy</th></tr>
                              <tr><th>Train</th><td>23,239</td><td>0.943</td><td>0.869</td></tr>
                              <tr><th>Test</th><td>7,747</td><td>0.831</td><td>0.773</td></tr>
                              <tr><th>Holdout</th><td>7,747</td><td>0.818</td><td>0.763</td></tr>
                              <tr><th>Full Sample 5 fold nested Cross-Validation</th><td>38,734</td><td>0.837 mean  0.006 std</td><td>N/A</td></tr>
                          </table>
                      </div>
                  </div>
              </div>
            </section>
        </div> <!-- end col-md-10 content -->
    </div> <!-- end row -->
  </div> <!-- end card -->
</div> <!-- end spacer container -->
{% endblock %}
